// Import Inter font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Import EmberBootstrap
@import 'ember-bootstrap/bootstrap';

// Import global variables
@import 'partials/variables';

// Set system font.
* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.app-container {
  display: grid;
  grid-template-columns: 20% auto;

  .app-navigation {
    min-height: 100vh;
    overflow-y: hidden;

    // Sidebar styles
    @import './partials/navigation/sidebar';
  }
}

.app-content {
  background-color: white;

  // Menubar styles
  @import './partials/navigation/menubar';

  // Index page styles.
  @import './index';
}
