#index {
  padding: 4rem;

  .tabs {
    &__links {
      border-bottom: 1px solid var(--border-color-dark);

      &-item {
        background-color: transparent;
        border: none;
        border-top-left-radius: var(--border-radius-sm);
        border-top-right-radius: var(--border-radius-sm);
        color: var(--accent-color-dark);
        font-size: var(--font-size);
        font-weight: semibold;
        // margin-right: 1rem;
        padding: 0.4rem 0.8rem;
        transition: var(--transition-hover);

        &:hover {
          background-color: var(--background-color-dark);
        }

        &.active {
          background-color: white;
          border-bottom: 2px solid var(--primary-color);
          color: var(--primary-color);
        }
      }
    }

    &__content {
      padding: 15px 0;

      &-filter {
        border-radius: 4px;
        margin-bottom: 0.6rem;
        width: 200px;

        &__input {
          margin-bottom: 3px;

          input {
            border-radius: var(--border-radius);
            padding: 8px 17px;

            &:focus {
              outline: none;
            }
          }
        }

        &__results {
          border-radius: var(--border-radius);
          display: none;
          padding: 0;

          &-item {
            align-items: center;
            display: flex;
            transition: var(--transition-hover);
            padding: 3px 10px;

            &:hover {
              background-color: var(--accent-color-light);
            }

            img {
              margin-right: 8px;
            }
          }
        }
      }

      &-item {
        // Import task stylings
        @import './partials/task/list';
        @import './partials/task/item';
      }
    }
  }
}
