#index {
  padding: 2rem 3.1rem;

  .tabs {
    &__links {
      border-bottom: 1px solid var(--border-color-dark);
      display: flex;

      &-item {
        transition: var(--transition-hover);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-top-left-radius: var(--border-radius-sm);
        border-top-right-radius: var(--border-radius-sm);
        background-color: transparent;
        padding: 0.3rem 0.8rem;
        color: var(--accent-color-dark);
        font-size: 0.95rem;
        font-weight: semibold;

        &:hover {
          background-color: var(--background-color-dark);
        }

        &:focus {
          outline: none;
        }

        &-count {
          align-items: center;
          background-color: var(--accent-color-dark);
          border-radius: 100%;
          color: white;
          display: flex;
          font-size: 0.75rem;
          justify-content: center;
          margin: 0;
          margin-left: 0.4rem;
          height: 20px;
          width: 20px;
        }

        &.active {
          background-color: white;
          border-bottom: 2px solid var(--primary-color);
          color: var(--primary-color);

          .tabs__links-item-count {
            background-color: var(--primary-color);
          }
        }
      }
    }

    &__content {
      padding: 15px 0;

      &-filter {
        position: relative;
        border-radius: 4px;
        margin-bottom: 0.6rem;
        padding: 0 10px;

        &__toggle {
          width: 200px;
          background-color: white;
          border-radius: var(--border-radius);
          margin-bottom: 3px;
          padding: 6px 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--accent-color);
          font-size: 0.95rem;

          &:focus {
            outline: none;
          }
        }

        &__results {
          position: absolute;
          width: 220px;
          border-radius: var(--border-radius);
          background-color: white;
          padding: 4px 4px 0 4px;

          &-item {
            transition: var(--transition-all);
            width: 100%;
            border: none;
            border-radius: var(--border-radius-sm);
            background-color: transparent;
            margin-bottom: 4px;
            padding: 3px 10px;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            cursor: pointer;

            &:hover {
              background-color: var(--background-color-dark);
            }

            &:focus {
              outline: none;
            }

            img {
              margin: 0;
              margin-right: 10px;
            }
          }
        }
      }

      &-item {
        // Import task stylings
        @import './partials/task/list';
        @import './partials/task/item';
      }
    }
  }
}
