<div class='task-list'>
  <header class='task-list__header'>
    <h5 class='task-list__header-item'>Task</h5>
    <h5 class='task-list__header-item'>Actions</h5>
  </header>

  {{! Pinned items }}
  {{#if this.hasPinnedTasks}}
    <section class='task-list__items'>
      <h6 class='task-list__items-heading'>Pinned items</h6>
      {{#each this.pinnedTasks as |task|}}
        <Task::Item @task={{task}} @togglePin={{fn this.unpinTask task.id}} />
      {{/each}}
    </section>
  {{/if}}

  {{! Unpinned items }}
  {{#if this.hasUnpinnedTasks}}
    <section class='task-list__items'>
      {{#each this.unpinnedTasks as |task|}}
        <Task::Item @task={{task}} @togglePin={{fn this.pinTask task.id}} />
      {{/each}}
    </section>
  {{/if}}
</div>