<div>
  {{! Logo section }}
  <img src='/img/logo.svg' alt='Anapanda' class='mx-4 my-5' />

  {{! Navigation links }}
  <ul class='side-nav__links m-0 p-0'>
    <li class='side-nav__links-item mb-1 px-4 py-2 active'>
      My Tasks
    </li>
    <li class='side-nav__links-item mb-1 px-4 py-2'>Projects</li>
    <li class='side-nav__links-item mb-1 px-4 py-2'>Calendar</li>
  </ul>
</div>