:root {
  /* Colors: */
  --primary-color: hsl(219, 89%, 45%);
  --accent-color-dark: hsl(220, 3%, 46%);
  --accent-color: hsl(218, 4%, 58%);
  --accent-color-light: hsl(167, 85%, 44%);
  --background-color-light: hsl(216, 33%, 97%);
  --background-color-dark: hsl(222, 50%, 96%);
  --border-color-dark: hsl(222, 17%, 88%);
  --border-color: hsl(210, 10%, 88%);
  --text-color-dark: hsl(0, 13%, 13%);
  --text-color: hsl(218, 11%, 19%);
  --text-color-light: hsl(218, 5%, 55%);

  /* Border values */
  --border-radius: 6px;
  --border-radius-sm: 2px;

  /* Font/text values */
  --font-family: 'Inter', sans-serif;
  --font-size: 16px;
  --font-weight: normal;

  /* Transitions */
  --transition-hover: all 0.3s ease-out;
}
