<div id='sidebar'>
  {{! Logo section }}
  <img src='/img/logo.svg' alt='Anapanda' />

  {{! Navigation links }}
  <ul class='sidebar__links'>
    <li class='sidebar__links-item active'>
      <img src='/img/icons/tasks.svg' alt='Tasks' />
      <span>My Tasks</span>
    </li>
    <li class='sidebar__links-item'>
      <img src='/img/icons/projects.svg' alt='Projects' />
      <span>Projects</span>
    </li>
    <li class='sidebar__links-item'>
      <img src='/img/icons/calendar.svg' alt='Calendar' />
      <span>Calendar</span>
    </li>
  </ul>
</div>