#sidebar {
  background-color: var(--background-color-light);
  height: 100%;

  img {
    margin: 2rem;
  }

  .sidebar__links {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding: 0;

    &-item {
      display: flex;
      align-items: center;
      transition: all 0.5s ease-out;
      margin-bottom: 0.4rem;
      padding: 0.6rem 2.6rem;

      img {
        margin: 0;
        margin-right: 12px;
      }

      &:hover {
        background-color: var(--background-color-dark);
      }

      &.active {
        background-color: var(--background-color-dark);
        border-right: 3px solid var(--primary-color);
        color: var(--primary-color);
        font-weight: 500;
      }
    }
  }
}
