<div class='app-container'>
  <aside class='app-navigation'>
    {{! Sidebar }}
    <Navigation::Sidebar />
  </aside>

  <main class='app-content'>
    {{! Menubar }}
    {{!-- <Navigation::Menubar /> --}}

    {{! Main content }}
    {{outlet}}
  </main>
</div>